<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('./includes/head.html') %>
  <!--  media指定媒介值，默认打印在屏幕上的格式-->
  <style media="screen">
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  </style>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">学生成绩管理系统</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <!-- <a class="navbar-brand" href="/login">登录</a> -->
        <!-- <a class="navbar-brand" href="/register">注册</a> -->
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>浙江理工大学</h1>
      <p><a class="btn btn-primary btn-lg" href="/testwangye" role="button">Learn more &raquo;</a></p>

    </div>
  </div>

  <div class="container">
    <!-- 记住一定要将属性 method写上 -->
    <form action ="/login" class=" form-inline " role='form' data-toggle='validator' method='post'>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="username" name="username" id="username" placeholder="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password" class="form-control">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">登录</button>
      <div class="form-group">

          <h3 class="text-danger text-center"><%- info %></h3>

      </div>
    </form>

    <!-- Example row of columns -->
    <div class="row">
      <p></p>
    </div>

    <hr>

    <footer>
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
  </div> <!-- /container -->
</body>
</html>
